body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  letter-spacing:2px;
  color:#F2F2F2;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  display:flex;
  font-size:28px;
  letter-spacing:2px;
  color:#F2F2F2;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:1px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:201px;
  width:211px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:1px;
}
#u2572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:356px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:356px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:516px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:656px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:516px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:656px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:656px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:656px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 114, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:516px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:1px;
  color:#FFFFFF;
}
#u2581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:576px;
  width:0px;
  height:0px;
}
#u2582_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:115px;
}
#u2582_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:105px;
  width:195px;
  height:10px;
}
#u2582_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:93px;
  width:34px;
  height:34px;
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:102px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:546px;
  width:0px;
  height:0px;
}
#u2583_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:120px;
  height:10px;
}
#u2583_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-17px;
  width:34px;
  height:34px;
}
#u2583_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:546px;
  width:0px;
  height:0px;
}
#u2584_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:121px;
  height:10px;
}
#u2584_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-17px;
  width:34px;
  height:34px;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:686px;
  width:0px;
  height:0px;
}
#u2585_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:121px;
  height:10px;
}
#u2585_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-17px;
  width:34px;
  height:34px;
}
#u2585_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:686px;
  width:0px;
  height:0px;
}
#u2586_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:120px;
  height:10px;
}
#u2586_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-17px;
  width:34px;
  height:34px;
}
#u2586_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:546px;
  width:0px;
  height:0px;
}
#u2587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:195px;
  height:10px;
}
#u2587_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-5px;
  width:10px;
  height:115px;
}
#u2587_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:87px;
  width:34px;
  height:34px;
}
#u2587_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:686px;
  width:0px;
  height:0px;
}
#u2588_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:120px;
  height:10px;
}
#u2588_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-17px;
  width:34px;
  height:34px;
}
#u2588_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:656px;
  width:0px;
  height:0px;
}
#u2589_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-240px;
  width:10px;
  height:245px;
}
#u2589_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-251px;
  width:34px;
  height:34px;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-128px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:416px;
  width:0px;
  height:0px;
}
#u2590_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:105px;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
